.feature-filter {
	padding: 0 10px;
	margin: 10px;
}

/* ==== ==== ==== User capabilities ==== ==== ==== */

.user-capabilities td {
	line-height: 1.5em;
	padding: 0 10px;
}

/* ==== ==== ==== Default slideshow settings ==== ==== ==== */

.default-slideshow-settings {
	width: auto !important;

	float: left;
}

.default-slideshow-settings table {
	padding-bottom: 10px;
}

.default-slideshow-settings td {
	padding: 0 10px !important;
}

/* ==== ==== ==== Custom styles ==== ==== ==== */

.custom-styles {
	min-width: 500px;
}

.custom-styles .styles-list {
	float: left;

	min-width: 150px;
	max-width: 250px;

	padding-right: 10px;

	border-right: 1px solid #dfdfdf;
}

.custom-styles .styles-list ul {
	margin-left: 10px;
}

.custom-styles .styles-list li {
	float: none;
}

.custom-styles .styles-list span {
	padding: 0 2px;
}

.custom-styles .styles-list li .style-title {
	float: left;

	padding-right: 10px;
}

.custom-styles .styles-list li .style-action {
	 float: right;

	 color: #21759B;
}

.custom-styles .styles-list li .style-delete {
	float: right;

	color: #BC0B0B;
}

.custom-styles .styles-list li .style-action:hover {
	cursor: pointer;

	color: #D54E21;
}

.custom-styles .styles-list li .style-delete:hover {
	cursor: pointer;

	color: red;
}

.custom-styles .style-editors {
	float: left;

	min-width: 350px;

	padding-left: 10px;
	margin: 0 -21px 0 -1px;

	border-left: 1px solid #dfdfdf;
}

.custom-styles .style-editors .style-editor textarea {
	width: 100%;
}