.slideshow_container { background: #000; }

.slideshow_container a { text-decoration: none; }

.slideshow_container .slideshow_slide { margin-right: 2px; }
.slideshow_container .slideshow_slide_text h2 { text-align: center; font-size: 1.3em; }
.slideshow_container .slideshow_slide_text p { text-align: center; }
.slideshow_container .slideshow_slide_image { }
.slideshow_container .slideshow_slide_video { }

.slideshow_container .slideshow_description { background: #000; width: 100%; }
.slideshow_container .slideshow_description h2  { font-size: 1.3em; text-align: center; }
.slideshow_container .slideshow_description p  { text-align: center; }
.slideshow_container .slideshow_description a  { color: #fff; }

.slideshow_container .slideshow_transparent { filter: alpha(opacity = 50); opacity: 0.5; }
.slideshow_container .slideshow_transparent:hover { filter: alpha(opacity = 80); opacity: 0.8; }

.slideshow_container .slideshow_controlPanel {
	width: 20px;
	height: 20px;
	margin-left: -10px;
}

.slideshow_container .slideshow_controlPanel ul { }

.slideshow_container .slideshow_controlPanel ul li {
	width: 20px;
	height: 20px;
}

.slideshow_container .slideshow_controlPanel ul li:hover { }

.slideshow_container .slideshow_play {
	background: url('%plugin-url%/images/SlideshowPlugin/dark-controlpanel.png') 0 0 no-repeat;
}

.slideshow_container .slideshow_pause {
	background: url('%plugin-url%/images/SlideshowPlugin/dark-controlpanel.png') -20px 0 no-repeat;
}

.slideshow_container .slideshow_button {
	margin-top: -50px;
	height: 100px;
	width: 24px;
	background: url('%plugin-url%/images/SlideshowPlugin/dark-arrows.png') no-repeat;
}

.slideshow_container .slideshow_previous { }

.slideshow_container .slideshow_next {
	background-position: -24px 0;
}

.slideshow_container .slideshow_pagination { bottom: 20px; }

.slideshow_container .slideshow_pagination_center {	}

.slideshow_container .slideshow_pagination .slideshow_currentView {
	filter: alpha(opacity = 80);
	opacity: 0.8;
}

.slideshow_container .slideshow_pagination ul { }

.slideshow_container .slideshow_pagination ul li {
	margin: 0 2px;
	width: 15px;
	height: 15px;
	background: url('%plugin-url%/images/SlideshowPlugin/dark-bullet.png') no-repeat;
}