.slideshow_container { }

.slideshow {
	overflow: hidden;
}

.slideshow .slideshow_div {
	width: 0;
	overflow: hidden;
	float: left;
}

.slideshow_container .button {
	visibility: hidden;
	width: 24px;
	height: 100px;
	cursor: pointer;
	
	position: relative;
	z-index: 2;
}

.slideshow_container .next {
	float: right;
	background: url('../../images/button-next.png');
	margin-right: 10px;
}

.slideshow_container .previous {
	float: left;
	background: url('../../images/button-previous.png');
	margin-left: 10px;
}

.slideshow_container .transparent {
	zoom: 1;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

.slideshow_container .transparent:hover {
	zoom: 1;
	filter: alpha(opacity = 80);
	opacity: 0.8;
}

.slideshow_container .descriptionbox {
	background: #000;
	color: #fff;
	float: right;
	margin-top: 0;
	margin-right: 44px;
	height: 0;
	width: 300px;
	overflow: hidden;
	
	position: relative;
	z-index: 1;
}

.slideshow_container .descriptionbox h2,
.slideshow_container .descriptionbox p {
	padding: 10px;
}