.slideshow_container { }

.slideshow_container .slideshow { }

.slideshow_container img { }

.slideshow_container .slide {
	margin-right: 2px;
}

.slideshow_container .transparent {
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

.slideshow_container .transparent:hover {
	filter: alpha(opacity = 80);
	opacity: 0.8;
}

.slideshow_container .description {
	background: #000;
}

.slideshow_container .controlPanel {
	width: 21px;
	height: 21px;
	background: #000;
	border-radius: 2px;
	-moz-border-radius: 10px;
}

.slideshow_container .controlPanel ul { }

.slideshow_container .controlPanel ul li {
	margin: 3px;
	width: 15px;
	height: 15px;
}

.slideshow_container .controlPanel ul li:hover { }

.slideshow_container .play {
	background: url('%plugin-url%/images/SlideshowPlugin/light-controlpanel.png') 0 0 no-repeat;
}

.slideshow_container .pause {
	background: url('%plugin-url%/images/SlideshowPlugin/light-controlpanel.png') -15px 0 no-repeat;
}

.slideshow_container .button {
	margin-top: -20px;
	height: 40px;
	width: 19px;
	background: url('%plugin-url%/images/SlideshowPlugin/light-arrows.png') no-repeat;
}

.slideshow_container .previous { }

.slideshow_container .next {
	background-position: -19px 0;
}

.slideshow_container a {
	text-decoration: none;
	color: #fff;
	text-align: center;
}

.slideshow_container .description h2,
.slideshow_container .description p {
	color: #fff;
}

.slideshow_container h2 {
	margin: 5px;
	font-size: 25px;
}

.slideshow_container p {
	margin: 7px;
	font-size: 15px;
}