
// Settings
#settings.postbox
{
  table
  {
	tr
	{
	  height: 31px;
	}
  }
}

// Slides list
.sortable-slides-list
{
  .sortable-slides-list-item
  {
	div.hndle
	{
	  padding: 8px 12px;
	  margin: 0;

	  font-size: 14px;
	  line-height: 1.4;

	  border-bottom: 1px solid #eee;

	  .slide-icon,
	  .slide-title
	  {
		float: left;

		margin-right: 8px;
	  }

	  .slide-icon
	  {
		width: 1.4em;
		height: 1.4em;

		&.image-slide-icon
		{
		  background: url('../images/SlideshowPluginPostType/fa-camera.svg') no-repeat left center;
		}

		&.text-slide-icon
		{
		  background: url('../images/SlideshowPluginPostType/fa-align-left.svg') no-repeat left center;
		}

		&.video-slide-icon
		{
		  background: url('../images/SlideshowPluginPostType/fa-video-camera.svg') no-repeat left center;
		}
	  }
	}

	div.inside
	{
	  width: auto;

	  .slideshow-group
	  {
		margin: 5px 0;

		input[type="checkbox"]
		{
		  margin-top: 8px;
		}

		.slideshow-label
		{
		  font-style: italic;

		  line-height: 30px;
		}

		&.slideshow-delete-slide,
		&.slideshow-delete-new-slide
		{
		  color: red;
		  cursor: pointer;
		}

		.slideshow-left
		{
		  float: left;
		}

		.slideshow-right
		{
		  float: right;
		}
	  }

	  &.widefat
	  {
		border-color: #dfdfdf;
	  }
    }
  }
}
